<div class="table-responsive">
   <table class="table table-striped">
     <thead>
       <tr>
         <th>#</th>
         <th>Header</th>
         <th>Header</th>
         <th>Header</th>
         <th>Header</th>
       </tr>
     </thead>
     <tbody>
       <%= render @articles %>
     </tbody>
   </table>
 </div>